*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #222;
    color:white;
    text-align: center;
}

h1{
    font-size: 3rem;
    background-color: darkslateblue;
    padding: 2rem 0px;
    border-bottom: 2px solid white;
}

#form{
    max-width: 90%;
    text-align: center;
    margin: 0px auto;
}

.container{
    margin: 10px auto;
    padding: 2rem 0px;
    width: 80%;
}

#btn{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding:5px;
    color: #222;
    border: none;
    border-radius: 5px;
    background-color: moccasin;
    margin-left: 5px;
    width: 10%;
    height: 8vh;
}

#inputValue{
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    width: 80%;
    height: 8vh;
}

#list{
    text-align: center;
    margin-bottom: 5%;
}

li{
    list-style: none;
    padding: 2% 0px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 576px) { 

    #inputValue{
        width: 100%;
    }
    #btn {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }
}
